<h1>You are now deeper in the Cave.</h1>
<div><%=image_tag @enemy.image,height: "400", width: "400"%></div>
<h3>Creature Stats</h3>
<p>Health: <%=@enemy.health%></p>
<p>Damage: <%=@enemy.damage%></p>
<%if @enemy.health > 0%>
	<%= button_to "Attack", attack_path(@enemy.id), :class => "btn btn-default", :method => :patch%>
<%else%>
	<%= "You killed the monster!"%>
<%end%>

<h3>Places to Go</h3>
<% @links.each do |name,link| %>
    <%= button_to name, link, :class => "btn btn-default", :method => :get%>
<% end %>
